body {
  height: 200vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
}

$ff-montser: "Montserrat", sans-serif;
$ff-meri: "Merriweather", serif;
$ff-desk: "Raleway", sans-serif;

$c-gray: #cccccc;
$c-blackOpacity: rgba(0, 0, 0, 0.7);
$c-aqua: #6eeee4;

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.pageTitle {
  align-items: center;
  padding-top: 12.9vh;

  &-bold {
    font-family: $ff-montser;
    font-weight: 800;
    font-size: 2.6vw;
    text-transform: uppercase;
  }

  &-regular {
    font-family: $ff-meri;
    text-transform: uppercase;
    font-size: 1.34vw;
    padding-top: 3px;
  }
}

@import "../src/Components/Header/style/header.scss";
@import "../src/Components/AboutUs/style/aboutUs.scss";
@import "../src/Components/Works/style/works.scss";
@import "../src/Components/team/style/team.scss";
@import "../src/Components/Contacts/style/contacts.scss";
@import "../src/Components/Footer/style/footer.scss";

@media screen and(max-width:800px) {
  .pageTitle {
    &-bold {
      font-size: 4.6vw;
    }

    &-regular {
      font-size: 2.34vw;
    }
  }
}
