.contacts {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 99vh;
  margin-top: -45.4vh;

  &__content {
    padding: 37vh 10.3vw 0 10.2vw;
    width: -webkit-fill-available;
    justify-content: space-between;
    height: 49.3vh;

    &__left {
      height: 100%;
      width: 53.8%;
      background-color: rgba(75, 90, 99, 0.71);

      &__container {
        padding: 15px 30px 20px 29px;
        &__row {
          border-bottom: 1px solid #cccccc;
          height: 60px;

          &-big {
            height: 132px;
          }

          &__input {
            background: transparent;
            border: none;
            color: #cccccc;
            font-size: 15px;
            width: 100%;
            margin: 30px 0 0 7px;
            font-family: "Raleway", sans-serif;

            &::-webkit-input-placeholder {
              color: #cccccc;
              font-family: "Raleway", sans-serif;
            }

            &-big {
              margin: 27px 0 0 7px;
            }
          }
        }

        &__btn {
          font-family: "Montserrat", sans-serif;
          border: 2px solid black;
          border-radius: 2px;
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0.5px;
          color: rgba(0, 0, 0, 0.7);
          margin: 38px 0 0 2px;
          width: 244px;
          height: 53px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 0.5s;
          box-sizing: border-box;
          cursor: pointer;

          &:hover {
            border-color: #6eeee4;
            background-color: #6eeee4;
          }
        }
      }
    }
    font-family: "Raleway", sans-serif;
    &__right {
      height: 100%;
      width: 44%;
      background-color: rgba(75, 90, 99, 0.71);

      font-size: 15px;
      color: rgba(255, 255, 255, 0.7);

      &__container {
        padding: 15px;

        a {
          color: rgba(255, 255, 255, 0.7);
        }

        &__top {
          padding: 17px;

          &__adress {
            margin-bottom: 7px;
          }

          &__tel {
            margin-bottom: 7px;
          }
        }

        &__middle {
          padding: 5px 0 0 17px;

          &__web {
            margin-bottom: 7px;
          }

          &__mail {
            margin-bottom: 7px;
          }
        }

        &__map {
          padding: 15px 0 0 8px;
        }
      }
    }
  }
}
