.team {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40vh;
  .pageTitle {
    padding-top: 9.3vh;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 12.3vh;

    &__elem {
      flex: 0 0 26%;
      padding: 0 5px 8px 5px;
      &-img {
        width: 99%;
      }
    }
  }
}
