.team {
  background-image: url("../src/Components/AboutUs/style/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40vh;
  .pageTitle {
    padding-top: 9.3vh;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 12.4vh;

    &__elem {
      // flex: 0 0 26%;
      width: 375px;
      padding: 0 5px 8px 5px;
      position: relative;
      cursor: pointer;

      &:hover {
        :last-child {
          opacity: 1;
        }
      }

      &-img {
        width: 99%;
      }

      &-desc {
        position: absolute;
        top: 185px;
        left: 24px;
        background-color: #6ff5ea;
        width: 335px;
        height: 241px;
        transition: 0.5s;
        opacity: 0;

        &::after {
          content: "";
          position: absolute;
          left: 22px;
          top: -30px;
          border: 10px solid transparent;
          border-bottom: 20px solid #6ff5ea;
        }

        &__container {
          padding: 38px 0 38px 39px;
          justify-content: space-between;
          height: -webkit-fill-available;

          &__top {
            padding: 0;
            font-family: $ff-meri;

            &__name {
              text-transform: uppercase;
              font-size: 20px;
              letter-spacing: 1.3px;
              font-weight: bold;
            }

            &__slash {
              margin-left: 6px;
              margin-top: 4px;
            }

            &__position {
              font-style: italic;
              margin-left: 5px;
              margin-top: 4px;
            }
          }

          &__middle {
            font-family: $ff-desk;
            margin-top: -15px;
            letter-spacing: 0.2px;
            line-height: 23px;
            width: 84%;
          }

          &__bottom {
            color: $c-blackOpacity;
            padding-bottom: 3px;

            &__elem {
              font-size: 12px;
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
}
