.header {
  &__conatiner {
    background-image: url("../src/Components/Header/style/Bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 86vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__text {
      justify-content: center;
      align-items: center;
      margin-top: 32.5vh;
      font-size: 3.1vw;
      letter-spacing: 1.5px;
      line-height: 4.1vw;
      font-family: $ff-montser;
      color: rgb(51, 51, 51);
      font-weight: 800;
      text-transform: uppercase;
      padding: 0 8px;
    }

    &__juiceGlass {
      background-image: url("../src/Components/Header/style/Glass.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 62.5vh;
      right: 16.4vw;
      width: 113px;
      width: 5.6vw;
      height: 46px;
      height: 9.5vh;
    }

    &__btn {
      font-size: 21px;
      font-family: $ff-montser;
      color: rgb(51, 51, 51);
      text-transform: uppercase;
      margin-top: 14.7vh;
      justify-content: center;
      align-items: center;
      letter-spacing: 1px;
      border: 2px solid black;
      width: 228px;
      height: 48px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        border-color: $c-aqua;
        background-color: $c-aqua;
      }
    }

    &__logo {
      background-image: url("../src/Components/Header/style/SHOPNO.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: 10.2vw;
      top: 6.8vh;
      width: 113px;
      width: 7.8vw;
      height: 46px;
      height: 5vh;
      cursor: pointer;
    }

    .block {
      background-color: rgba(118, 244, 234, 0.8);
      padding: 0 5px;
    }
  }
}

@media screen and(max-width: 800px) {
  .header {
    &__conatiner {
      &__logo {
        width: 20vw;
      }
    }
  }
}
