.about {
  background-image: url("../src/Components/AboutUs/style/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__content {
    display: flex;

    padding-top: 12.4vh;
    padding-bottom: 14.8vh;

    &__left {
      display: flex;
      padding-left: 14vw;
      width: 35%;

      &-img {
        width: 88%;
        object-fit: contain;
      }
    }

    &__right {
      width: 34%;
      margin-left: 4.6vw;
      padding-top: 27px;
      &__title {
        font-family: $ff-montser;
        text-transform: uppercase;
        font-weight: 800;

        &-first {
          font-size: 20px;
          letter-spacing: 0.9px;
        }

        &-second {
          font-size: 17px;
          letter-spacing: 0.8px;
        }
      }

      &__text {
        font-family: $ff-desk;
        font-size: 16px;
        padding-top: 19px;
        line-height: 28px;
        padding-left: 2px;
        letter-spacing: 0.8px;

        &-first {
          padding-top: 21px;
        }

        &-second {
          padding-top: 29px;
          padding-bottom: 32px;
        }

        &-third {
          padding-top: 15px;
        }
        &-four {
          padding-top: 3px;
        }
      }
    }
  }
}

@media screen and(max-width: 800px) {
  .about {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__content {
      flex-direction: column;

      padding-top: 12.4vh;
      padding-bottom: 14.8vh;
      align-items: center;

      &__left {
        display: flex;

        width: 80%;
        padding: 0;
        justify-content: center;

        &-img {
          width: 88%;
          object-fit: contain;
        }
      }

      &__right {
        width: 80%;
      }
    }
  }
}
